@media (min-width: 600px) {
body {
    background-color: #FAF863;
}
nav {
    background-color: #FAF863;
    display: flex;
    align-items: center;
    padding: 10px;
}
.logo {
    margin-right: auto; 
}
.liste {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.liste li {
    margin: 0 70px; 
}

.vinglas {
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.font {
    width: 350px;
    height: auto; 
}

#overskrift {
    margin-left: 230px;
}
#overskrift1 {
    margin-left: 140px;
}
#underoverskrift {
    margin-left: 450px;
    margin-bottom: 1px;
}

/* COCKTAILS/DRINKS */
.grid_1-1 {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
}
.grid_1-1 div {
    margin: 0 10px; /* Adjust the margin as needed */
  }
  dt {
    margin-top: 30px;
    font-family:'Rubik Bubbles' , sans serif;
    /* color: red; */
  }

.drikke-pynt {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
}
.pynt {
    width: 800px;
    height: auto;
}

/* FADØL/FLASKEØL */
/* .menu {
display: flex;
}

.fadøl,
.fadølpriser {
    margin-top: 45px;
    flex: 1;
   margin-left: 65px;
} */

/* .bobler,
.boblerpriser {
    margin-top: 50px;
    flex: 1;
    margin-left: 65px;
}

.bobler1
 {
    margin-top: 50px;
    flex: 1;
    margin-left: 200px;
}

.bobler1priser{
    margin-top: 50px;
    flex: 1;
    margin-left: 70px;
}
.flaskeøl
 {
    margin-top: 45px;
    flex: 1;
    margin-left: 300px;
}
.flaskeølpriser {
    margin-top: 45px;
    flex: 1;
    margin-left: 135px;
} */


.espresso {
    width: 150px;
}

.grid_1-1-1 {
    margin-top: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    /* margin-left: 150px; */
    /* position: relative; */
}

#kaffe {
    background-image: url(../img/SVG/espresso3.svg);
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: 64%;
    position: relative;
    width: 100%;
    height: 100%;
}

#mælk {
    background-image: url(../img/SVG/mælkekande.svg);
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: 20%;
    position: relative;
    width: 100%;
    height: 100%;
}

#filter {
    background-image: url(../img/SVG/filter.svg);
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: 75%;
    position: relative;
    width: 100%;
    height: 100%; 
}

#diverse {
    background-image: url(../img/SVG/cup.svg);
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: 43%;
    position: relative;
    width: 100%;
    height: 100%; 
}

  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1%;
    margin: 0 auto;
    margin-left: 450px;
  }

  .grid_1-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1%;
    margin: 0 auto;
    margin-left: 250px;
  }
  #farvepris {
    color: #E1B629;
    font: bold;
  }
  #avec {
    background-image: url(../img/SVG/merepynt3.svg);
    background-repeat: no-repeat;
    background-size: 1.65%;
    background-position: 49.7%;
    position: relative;
    /* background-color: #FF8200; */
  }
/* .grid_1-2 div {
    font-size: 1.5rem;
} */


.læskepriser {
    color: red;
}

#flasker {
    margin-left: 450px;
}

.merepynt {
    transform: rotate(-90deg);
}

  /* STYLE */
 
h3 {
    margin-bottom: 10px;
    /* font-size: 1.5rem; */
  }

 /*  h4{
    font-size: 1.5rem;
  } */

h1 {
    text-align: center;
    
}

h2 {
    /* font-family: 'Rubik Bubbles' , sans serif; */
    font-family:'Rubik Bubbles' , sans serif;
    /* font-size: 2rem */
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-size: 1.5rem; */
   
}


.cursiv {
   /*  font-family: 'Ephesis' , sans serif; */
    /* color: red; */
}

.liste a {
    text-decoration: none;
    color: black; 
}

}