body {
    background-color: #FAF863;
}
nav {
    background-color: #FAF863;
    display: flex;
    align-items: center;
    padding: 10px;
}
.logo {
    margin-right: auto; 
}
.liste {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.liste li {
    margin: 0 70px; 
}

.vinglas {
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.font {
    width: 350px;
    height: auto; 
}


.grid_1-1 {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
}
.grid_1-1 div {
    margin: 0 10px; /* Adjust the margin as needed */
  }

.drikke-pynt {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
}
.pynt {
    width: 800px;
    height: auto;
}

.menu {
display: flex;
}

.fadøl,
.fadølpriser {
    margin-top: 45px;
    flex: 1;
   margin-left: 65px;
}

.flaskeøl
 {
    margin-top: 45px;
    flex: 1;
    margin-left: 255px;
}
.flaskeølpriser {
    margin-top: 45px;
    flex: 1;
    margin-left: 113px;
}


.espresso {
    width: 150px;
}


.grid_1-1-1 {
    margin-top: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* position: relative; */
}

.container {
    text-align: center;
  }
  
 
  h3 {
    margin-bottom: 10px;
  }

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-family: 'Rubik Bubbles' , sans serif;
    font-size: 2rem
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cursiv {
    font-family: 'Ephesis' , sans serif;
    color: red;
}

/* .liste a {
    text-decoration: none;
    color: #000; 
} */
