/****generelt****/

header {
    background-color: rgba(18, 18, 18, 1);
    display: flex;
  }
  a {
    border-radius: 30%;
    color: white;
    background-color: rgba(18, 18, 18, 1);
    padding: 0.8em;
    text-decoration: none;
    margin: 1em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .nav a {
    color: white;
    background-color: rgba(18, 18, 18, 1);
    padding: 0.8em;
    text-decoration: none;
    margin: 1em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    align-items: center;
  }
  
  .header_position {
    padding-top: 2.5%;
    align-items: center;
  }
  
  ul {
    display: flex;
  }
  
  .knapper a {
    border: solid white 1px;
  }


body{
    background-color: rgba(18, 18, 18, 1);
} 

footer{
    background-color: #222121;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFF7D7;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFF7D7;
    font-size: 30px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFF7D7;
    font-size: 85px;
    text-align: center;
    padding: 2rem; 
    
  }

 .grid_1_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
 }

 hr{
    background-color: #FFF7D7;
    width: 463px;
    height: 1px;
 }

 .hr_position{
    padding-top: 1%;
 }

 
.text_events{
    background-color: #222121;  
}

.programside{
    background-color: #C5418E;
    margin: 3em 1em;
}

.billede_runding{
    border-radius: 20%;
}

.center{
    text-align: center;
}