/****Generelt*****/
header {
  background-color: rgba(18, 18, 18, 1);
  display: flex;
}

body {
  background-color: rgba(18, 18, 18, 1);
  max-width: 1512px;
}

footer {
  background-color: rgba(34, 33, 33, 1);
  display: flex;
  padding-bottom: 10%;
  padding-top: 5%;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 4vw;
  text-align: center;
  padding: 4rem;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 2vw;
}

img {
  max-width: 100%;
}

.p2 {
  color: rgba(64, 67, 64, 1);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  max-width: 529px;
  margin-left: 20%;
  margin-top: 70%;
}

.h12 {
  color: rgba(64, 67, 64, 1);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  max-width: 529px;
  margin-left: 8%;
}

.h13 {
  color: rgba(0, 72, 232, 1);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-left: 10%;
}

.p3 {
  color: rgba(0, 72, 232, 1);
  max-width: 487px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 40%;
  margin-left: 30%;
}

.h14 {
  color: rgba(64, 67, 64, 1);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-left: 10%;
}

a {
  border-radius: 30%;
  color: white;
  background-color: rgba(18, 18, 18, 1);
  padding: 0.8em;
  text-decoration: none;
  margin: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.nav a {
  color: white;
  background-color: rgba(18, 18, 18, 1);
  padding: 0.8em;
  text-decoration: none;
  margin: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  align-items: center;
}

.header_position {
  padding-top: 2.5%;
  align-items: center;
}

ul {
  display: flex;
}

.knapper a {
  border: solid white 3px;
  font-size: x-large;
}

/********Andet********/

.logo_forside {
  text-align: center;
}

.grid_1-1-1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: rgba(34, 33, 33, 1);
}

.billeder_forside {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.paragraf_forside {
  width: 1109px;
  text-align: center;
}

.knapper_forside {
  display: flex;
}

.billeder_bund_forside {
  display: grid;
  background-color: rgba(34, 33, 33, 1);
  padding: 8% 0;
}

.menu_forside {
  background-color: rgba(230, 64, 37, 1);
  display: grid;
  /*
  grid-template-columns: 1fr 1fr;
  */
  padding-top: 10%;
  padding-bottom: 10%;
}

.overskrift_menu {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  max-width: 652px;
}

.paragraf_menu {
  margin-top: 65%;
  margin-left: 20%;
  max-width: 529px;
}

.billede_runding {
  border-radius: 10%;
  margin: 5%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.drikkevarer_forside {
  background-color: rgba(250, 248, 99, 1);
  padding-top: 20%;
  padding-bottom: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.drikkevarer_knap {
  border-radius: 30%;
  color: rgba(18, 18, 18, 1);
  background-color: rgba(250, 248, 99, 1);
  padding: 0.8em;
  border: solid rgba(18, 18, 18, 1) 3px;
  text-decoration: none;
  margin: 1em;
  font-size: x-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*
.btn_position {
  padding-top: 250%;
  margin-left: -18rem;
}
*/

.billede_lamper {
  border-radius: 20%;
  margin-right: 5%;
}

.billede_lamper2 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.paragraf_drikkevarer {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  max-width: 529px;
  margin-left: 15%;
}

.btn_drik {
  margin-left: 50%;
  grid-column-start: 1;
  grid-column-end: 2;
  max-width: 85px;
}

.om_os_btn {
  margin-left: -160%;
  margin-top: 500%;
  grid-column-start: 1;
  grid-column-end: 2;
  max-width: 85px;
  padding: 0.8em;
  border: solid rgba(0, 72, 232, 1) 3px;
  background-color: rgba(255, 247, 215, 1);
  color: rgba(0, 72, 232, 1);
  font-size: x-large;
}


.om_os {
  background-color: rgba(255, 247, 215, 1);
  padding-top: 10%;
  padding-bottom: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*
.om_os_position {
  padding-left: 8rem;
  padding-top: 45rem;
}
*/

.om_os2 {
  background-color: rgba(255, 247, 215, 1);
  padding-top: 10%;
  padding-bottom: 10%;
}

.billede_runding1 {
  border-radius: 20%;
}

/*
.billede_placering {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
*/

.max_width {
  max-width: 562px;
  color: rgba(18, 18, 18, 1);
  background-color: rgba(18, 18, 18, 1);
  height: 4px;
}

.paragraf_book_bord {
  max-width: 685px;
  color: rgba(64, 67, 64, 1);
  text-align: center;
  margin-left: 30%;
  margin-top: -7%;
}

.btn_laes_mere a {
  border-radius: 30%;
  color: rgba(64, 67, 64, 1);
  background-color: rgba(255, 247, 215, 1);
  padding: 0.8em;
  border: solid rgba(64, 67, 64, 1) 3px;
  text-decoration: none;
  margin: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 50%;
  font-size: x-large;
}

.overskrift_insta {
  max-width: 600px;
  margin-left: 28%;
}

.aabningstider {
  max-width: 312px;
  margin-left: 10%;
}

.adresse {
  max-width: 266px;
  margin-left: 20%;
}

.beige {
  color: rgba(228, 221, 211, 1);
}

