header {
    background-color: #C5418E ;
    display: flex;
  }
  a {
    border-radius: 30%;
    color: white;
    background-color: #C5418E ;
    padding: 0.8em;
    text-decoration: none;
    margin: 1em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .nav a {
    color: white;
    background-color: #C5418E;
    padding: 0.8em;
    text-decoration: none;
    margin: 1em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    align-items: center;
  }
  
  .header_position {
    padding-top: 2.5%;
    align-items: center;
  }
  
  ul {
    display: flex;
    text-decoration: none;
  }

  li{
    list-style-type: none;
  }
  
  .knapper a {
    border: solid white 1px;
  }
  
body{
    background-color: #C5418E 
} 

footer{
    background-color: #222121;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFF7D7;
}
h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFF7D7;
    font-size: 50px;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFF7D7;
    font-size: 30px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFF7D7;
    font-size: 85px;
    text-align: center;
    padding: 2rem; 
    
  }
